* {
  box-sizing: border-box;
}

/* Opmaak van de boxes */
.flex-container > div {
  border: 1px solid #000;
  background-color: lightgreen;
  padding: 10px;
}

/* Plaats je oplossing hieronder */
.flex-container{
  display: flex;
}
.flex-container div{
  flex-grow: 1;
}
.flex-container div:nth-of-type(1), .flex-container div:nth-of-type(5){
  flex-grow: 2;
}
