#container>* {
  border: 1px solid #000;
  padding: 10px;
}

h1,
h2,
#score,
nav {
  font-size: 2rem;
  font-weight: bold;
}


#container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "GT BD  "
    "S BD  "
    "S BD  "
    "SC  C "

  ;
}




header {
  grid-area: GT;
}

#score {

  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: SC;
}

#stats {

  align-self: start;
  grid-area: S;
}

/* Board */
main {
  grid-area: BD;
}

/* Controls */
nav {
  justify-self: center;
  grid-area: C;
}

@media screen and (orientation:portrait) and (min-width : 500px) {
  #container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "GT S"
      "SC S"
      "BD BD "
      "BD BD "
      "C C "

    ;
  }
}

@media screen and (max-width : 500px) {
  #container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "GT SC"
      "BD BD"
      "BD BD"
      "BD BD"
      "C C"

    ;
  }

  #stats {
    display: none;
  }
}